# Day 1

Q. given a list of integers, return True If the array contains a 3 next to a 3 somewhere 
e.g. has_33[1,3,3] True
has_33[1,3,1,3] False
has_33[3,1,3] False
has_33[3,3,1] True

In [40]:
# method - 1
def has_33(l):
    for i in range(0,len(l)):
        if l[i]==3 and l[i+1]==3:
            return True
    return False

In [30]:
print(has_33([3,3,1,3,1,3]))

True

In [39]:
# method -2

def has_33(lst):
    for i in range(0,len(lst)-1):
        if lst[i:i+2]==[3,3]:
            return True
        else:
            pass
print(has_33([1,2,1,3,3]))

True

# Day 2

Q. w.a.f that return the less of 2 given number ,if both the number are even,but returns grether if one or both number are odd or both are even
e.g. has_33[1,3,3] True
less_of_two_even(2,4) ---> 2
less_of_two_even(2,3) ---> 3
less_of_two_even(3,4) ---> 4

In [41]:
# method - 1
def less_of_two_even(n1,n2):
    if n1 %2==0 and n2 %2==0:
        print(min(n1,n2))
    else:
        print(max(n1,n2))

In [43]:
less_of_two_even(2,4)

2

In [48]:
#method - 2 
def greter_less(a,b):
    l2even=[min(a,b) if a%2 ==0 and b%2==0 else max(a,b)]
    return l2even

greter_less(1,5)

[5]

# Day 3

W.A.F that take a list and reutern list of unique element 
e.g. has_33[1,3,3] True
input: [1,2,2,2,3,534,35,2,35,55]
ouput: [1,2,3,534,35,55]

In [51]:
import numpy as np
inp=[1,2,2,2,3,534,35,2,35,55]
x=np.array(inp)
print(np.unique(x))

[  1   2   3  35  55 534]

In [52]:
def unique(lst):
    unq=list(set(lst))
    return unq
unique([1,2,2,2,3,534,35,2,35,55])

[1, 2, 3, 35, 534, 55]

# Day 4

WAP to check whether a string is pangram or not .
Pangram is sentence containing evry letter of the alphabet r

In [9]:
def pan_gram(int_str):
    int_str=int_str.lower()
    charlist=[chr(i) for i in range(97,123)]
    for ch in charlist:
        if ch not in int_str:
            return False
        return True

In [12]:
inpt =('a quick brown box jumps over the lazy dog')
output=pan_gram(inpt)
output

True

# Day 5

if starting letter is same the True else False 

Credit Card --True
Credit Rist --False

In [14]:
def animal_cracker(string):
    s1,s2=string.split(' ')
    print(s1[0].upper()==s2[0].upper())

In [15]:
animal_cracker("Credit Card")

True

In [16]:
animal_cracker("Credit Risk")

False

# Day 6

if list contain 007 then True else false

[1,2,4,5,6,0,0,5,7] -->True
[1,0,4,2,0,0,0,5,7] -->True
[1,7,2,0,4,5,0] -->False

In [24]:
def find_007(a):
    d=False
    for i in range(len(a)):
        if a[i]==0:
            for j in range(i+1,len(a)):
                if a[j]==0:
                    for k in range(j+1,len(a)):
                        if a[k]==7:
                            d=True
                            break
    print(d)

In [25]:
x= [1,2,4,5,6,0,0,5,7]
y= [1,0,4,2,0,0,0,5,7]
z= [1,7,2,0,4,5,0] 
find_007(x)
find_007(y)
find_007(z)

True
True
False

# Day 7

WAP which take string as input and convert every even letter to Upper and Odd postion letter to lower case

In [50]:
def myfunct(string):
    ans=''
    for i in range(len(string)):
        if(i%2 !=0):
            ans += string[i].upper()
        else:
            ans += string[i].lower()
    if ans==string:
        return True
    else:
        return False
    
    
op=myfunct('aNiMaL')
print(op)

True

# Day 8

program to count upper case and lower case in a string

In [59]:
def cal_case(string):
    U_ans=0
    L_ans =0
    for i in range(len(string)):
        if string[i].islower():
            U_ans +=1
        else:
            L_ans +=1
    print('sum of upper letter: ',U_ans)
    print('sum of lower letter: ',L_ans)

In [60]:
print(cal_case('Nidhi'))

sum of upper letter:  4
sum of lower letter:  1
None

# Day 9

program to check pelindrop

In [64]:
def pelin(string):
    print(string[::-1])
    return string==string[::-1]

In [65]:
string=input('')
pelin(string)

oppo
oppo

True

# Day 10

multiply num of list

In [76]:
def multiply(lst):
    result=1
    for i in lst:
        result *= i
    return result

In [77]:
print(multiply([1,3,4,7]))

84

# Day 11

paper_doll('Hello')----> 'Hhheeellllllooo'
paper_doll('Sachin')----> 'SSSaaaccchhhiiinnn'

In [8]:
def paper_doll(string):
    ans=''
    for i in string:
        ans=ans+i*3
    return ans

In [12]:
s=input("put string")
print(paper_doll(s))

put stringLove
LLLooovvveee

In [18]:
string ="amul"
print(string[1:4])
print(string[1:4:2])
print(string[::1])
print(string[::3]) #reverse

mul
ml
amul
al

In [23]:
#method 2
def paper_doll(string):
    return ''.join([char*3 for char in string])
paper_doll('Hi')

'HHHiii'

# Day 12

leap_yr(1996)---> Leap year
leap_yr(2002)---> not Leap year

In [28]:
def leap_yr(yr):
    if (yr % 400 ==0) or (yr%4==0 and yr%100==0):
        return "Leap Year"
    else:
        return "not Leap yr ghr jaao khana khao"

In [29]:
leap_yr(2000)

'Leap Year'

# Day 13

Capitalize 1st and 4th letter of string 
capital("sachin")---------> SacHin
capital("jai")---------> input is not short

In [36]:
def Capital(string):
    if (len(string)<4):
        return "input is too short"
    else:
        return string[0].capitalize()+string[1:3] +string[3].capitalize()+string[4:]

In [39]:
Capital("Sachin")
Capital("String")
Capital("roy")

'input is too short'

In [42]:
#method 2 

def Capital(string):
    if (len(string)<4):
        return "input is too short"
    else:
        string=string.replace(string[0],string[0].upper())
        string=string.replace(string[3],string[3].upper())
        print(string)

In [44]:
Capital("sachin")
Capital("jai")

SacHin

'input is too short'